* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}

/* Navbar */
header {
    background: #111;
    position: fixed;
    width: 100%;
    top: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 10%;
    align-items: center;
}

.logo {
    color: #00adb5;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

/* Home */
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #222;
    color: white;
    text-align: center;
}

.home span {
    color: #00adb5;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #00adb5;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.home-img img {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #00adb5;
    box-shadow: 0 0 25px rgba(0, 173, 181, 0.6);
}


/* Sections */
.section {
    padding: 80px 10%;
    text-align: center;
}

.bg {
    background: #f4f4f4;
}

/* Skills */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.skills-container span {
    background: #00adb5;
    color: white;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 20px;
}

/* Projects */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.project-card {
    background: white;
    padding: 20px;
    margin: 15px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    color: #00adb5;
    text-decoration: none;
}

/* Footer */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}